:root{
    --background-color:#0a192f;
    --background-color-menu:#112240;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xl:20px ;
    --color-green:#64ffda;
    --color-text2:#8892b0; 
    --color-text1: #ccd6f6;
    --text-color1:  ;
    --transition : all 0.25s cubic-bezier(0.645,0.045,0.355,1);

}

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
}
body{
    background-color: var(--background-color) ;
    width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    font-size: var(--fz-xl);
    line-height: 1.3;
    font-family: var(--font-sans);
    color: var(--color-text2);
}
h2{
    line-height: 1.1;
    color: var(--text-color1);
}
.section{
    margin: 0px auto;
    max-width: 1000px;
}
a{
    text-decoration: none;
    
}
a:hover{
    color: var(--color-green) ;
}

header{
    background: rgba(62, 68, 78, 0.85) ;

}
header .nav-link{
    position: relative;
    width: 100%;
    height: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 40px ;
}
header .nav-link ul{
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

header .nav-link ul li{
    margin: 0 15px;
}
.nav-link .toggle-btn{
    display: none ;
    color:rgb(255, 255, 255) ;
    cursor: pointer;
    font-size: 1.5rem;
}
.nav-link .toggle-btn i{
    color: beige;

}

.menu{
    display: none;
    position: fixed;
    z-index: 10;
    top:0;
    right: 0;
    width: min(75%,400px);
    height: 100vh;
    background-color: var(--background-color-menu);
    padding: 50px 10px;
    box-shadow: -10px 0px 30px -15px;
    transform: translateX(500%);
    transition: var(--transition) ;
}
.menu-active{
    transform: translateX(0);
}
.menu .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.menu .links li ,.menu .links div{
    padding: 20px 0;
    font-size: 1.6rem;
    
    
}
.toggle-btn{
    z-index: 11;
}

.div-click{
    display: none;
    position: absolute;
    background-color: rgb(251, 248, 248);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: .5;
    z-index: 8;
}
.div-active{
    display: block;
}

.section-profile{
    position: relative;
    width: 100%;
    background-image: url('/assets/img-ia.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}

.section-profile .profile{
    position: relative;
    display: flex;
    justify-content: center;
   
}  
.section-profile .profile img{
    position: relative;
    width: 50%;

}
main{
    width: 100%;
    padding: 0 10px;

}
.container{
    display: flex;
    background-color: #cad0d9;
    color: #0a192f;
    flex-direction: column;
    align-items: center;
   width: 50%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 7px;
    padding: 20px 0;
    font-size: clamp(16px,3vw,26px);
    
   
}
.container .presentation-text{
    display: flex;
    flex-direction: column;
    align-items: center;
   line-height: 2.7;
   padding: 6px 0;

}
.container h3{
    position: relative;
    display: flex;
    align-items: center;

}
.container h3::before{
    content: '';
    display: block;
    width: 130px;
    height: 3px;
    background-color: aliceblue;

}
.container h3::after{
    content: '';
    display: block;
    width: 130px;
    height: 3px;
    background-color: aliceblue;

}
.section-apropos{
    padding: 50px 30px;
}
.section-apropos .div-text {
    margin-bottom: 40px;
}
.section-apropos .div-text .link-contacter{
    margin-top: 29px;
}
.section-apropos .div-text .link-contacter a{
    padding: 0.5rem 2rem;
    background-color: #084efa;
    border-radius: 7px;
}
.presentation-text{
    font-weight: 600;
}
.section-apropos .div-text div p{
    line-height: 2;
}
.div-competence{
   margin: 20px auto;

}
.div-competence h3{
    padding: 20px 0;
}
.div-competence .outils div {
    padding: 0.5rem 0.8rem;
    margin-bottom: 1.2rem;
    margin-right: 1.5rem;
    background-color: aliceblue;
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    display: inline-block;
    font-size: clamp(10px,3vw,18px);;
}
.section-projet .container{
    position: relative;
    width: 100%;
    display: flex;
}
.section-projet .container img{
    width: 100%;
    height: auto;
}

@media (max-width:768px) {
    header .nav-link ul{
        display: none;
    }
    .nav-link .toggle-btn{
        display: block;
    }
    
    .menu{
        display: block;
       
    }
    .section-apropos{
        padding: 50px 5px;
    }

    .container{
        width: 90%;
    }
}
@media (max-width:480px){
  body{
    font-size: 18px;
  }
}